body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}

#titulo {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

#subtitulos{
    padding: 1% 1% 0% 3%;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

#cris-text{
    font-size: 120px;
}

#introduccion{
    padding: 0% 1% 0% 3%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 35px;
}

#seccion-goles-equipo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 2px black;
    background-color: aliceblue;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 6px;
}

#selector-1 {
    padding: 0% 2% 0% 2%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    border-radius: 5px;
}

#selector-2 {
    padding: 0% 2% 0% 2%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    border-radius: 5px;
}

#filtro-competiciones {
    padding: 0% 2% 0% 2%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    border-radius: 5px;
}

#seccion-goles-temporada {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    border: solid 2px black;
    background-color: aliceblue;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 6px;
}

#filtro-2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 35px;
    margin-top: 5%;
}

#filtros {
    margin-top: 2%;
    display: flex;
    width: 40%;
    row-gap: 3%;
    flex-direction: column;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 35px;
}

#container-vis-1{
    margin-left: 4%;
}

#container-vis-2{
    margin-top: 5%;
}

#foto-CR7 {
    width: 90%;
    height: 85%;
    position: relative;
    top: 5%;
    left: 10%;
}

footer {
    padding: 2rem;
    color: white;
    background-color: #222;
}

footer p {
    margin: 0;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
}